.btn-airbnb {
  background-color: #F02A53;
  padding: 8px 24px;
  border-radius: 4px;
  color: white;
  transition: background-color 1s;
}

.btn-airbnb:hover {
  background-color: #622af0;
}

.btn-medium {
  border: 2px dotted rgb(26, 137, 23);
  color: rgb(26, 137, 23);
  padding: 8px 24px;
  border-radius: 50px;
}

.btn-medium:hover {
  border: 2px dotted rgb(37, 62, 36);
  color: rgb(37, 62, 36);
  transition: border 1s, color 1s;
}