.btn-medium {
  color: #198917;
  border: 1px solid #198917;
  border-radius: 50px;
  padding: 16px 24px;
}

.btn-medium:hover {
  color: #132d12;
  border: 1px solid #132d12;
}

.btn-airbnb {
  background-color: #FF385C;
  color: white;
  border-radius: 4px;
  padding: 16px 24px;
  transition: background-color 1s;
}

.btn-airbnb:hover {
  background-color: #9a384a;
}