.card-category {
  height: 260px;
  color: white;
  border-radius: 8px;
  box-shadow: 0 0 16px rgb(0 0 0 / 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.card-product {
  background-color: white;
  box-shadow: 0 0 16px rgb(0 0 0 / 30%);
  display: flex;
  align-items: center;
  gap: 8px;
}

.card-product > img {
  height: 120px;
  width: 120px;
  object-fit: cover;
}

.card-product h2, .card-product p {
  margin: 0;
}

.card-trip {
  background-color: white;
  box-shadow: 0 0 16px rgb(0 0 0 / 30%);
  margin-bottom: 24px;
}

.card-trip > img {
  height: 260px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 44%;
}

.card-trip h2, .card-trip p {
  margin: 0;
}

.card-trip-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 8px;
}

.card-trip-price {
  font-size: 24px;
}